.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12rem; /* 150px / 16px = 9.375rem */
  width: 100%;
  height: 80vh; /* 427px / 16px = 26.6875rem */
}

.hi {
  position: absolute;
  top: 25%;
  color: rgb(204, 155, 197);
  letter-spacing: 0.5rem; /* 16px / 16px = 1rem */
  font-size: 2.5rem; /* 30px / 16px = 1.875rem */
  font-weight: bold;
  text-shadow: 0.625rem 0 0.625rem rgb(185, 116, 175); /* 10px / 16px = 0.625rem */
  font-family: 'Trebuchet', sans-serif;
}

.secondary-text {
  color: rgb(240, 139, 218);
  position: absolute;
  top: 69%;
  font-size: 2.5rem; /* 40px / 16px = 2.5rem */
  font-weight: bold;
  text-shadow: 0.625rem 0 0.625rem rgb(185, 116, 175);
  font-family: 'Trebuchet', sans-serif;
  letter-spacing: 0.5rem; /* 17px / 16px = 1.0625rem */
}

.web-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem; /* 100px / 16px = 6.25rem */
}

.web-text {
  color: rgb(236, 173, 212);
  font-size: 5rem; /* 70px / 16px = 4.375rem */
  position: absolute;
  top: 73%;
  text-shadow: 0.625rem 0px 0.625rem rgb(230, 57, 163);
}

.front-span {
  font-size: 4rem; /* 80px / 16px = 5rem */ 
  letter-spacing: 1rem; /* 30px / 16px = 1.875rem */
  margin-left: 1.25rem; /* 20px / 16px = 1.25rem */
}

.dev-span {
  font-size: 4rem; /* 80px / 16px = 5rem */
  letter-spacing: 0.3rem; /* 10px / 16px = 0.625rem */
  line-height: 0.3rem; /* 10px / 16px = 0.625rem */
}

.welcome-portfolio {
  color: white;
}

.giffy {
  margin-top: 16rem;
  width: 18.75rem; /* 300px / 16px = 18.75rem */
  height: 22rem; /* 400px / 16px = 25rem */
  border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
}

.giffy {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.9375rem); /* Assuming a base font size of 16px */
  }
}

/* PORTFOLIO*/ 
.container-welcome {
  background-color: rgba(81, 19, 105, 0.979);
  border-radius: 0.75rem; /* 12px / 16px = 0.75rem */
  width: 31.25rem; /* 500px / 16px = 31.25rem */
  height: 3.75rem; /* 60px / 16px = 3.75rem */
  padding-top: 0.9rem; /* 12px / 16px = 0.75rem */
  letter-spacing: 0.125rem; /* 2px / 16px = 0.125rem */
  position: absolute;
  top: 59%;
}

.container-welcome span {
  font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
  font-weight: 800;
  justify-content: center;
  color: rgba(255, 255, 255, 0);
}

.container-welcome > span{
  animation:  glow 2s ease-in-out infinite;
}
@keyframes glow{
  0%, 100%{
      color: hsl(311, 69%, 69%);
      text-shadow: 0 0 12px rgb(207, 119, 245), 0 0 50px rgb(179, 0, 255), 0 0 100px rgb(182, 38, 243);
  }
  10%, 90%{
      color: #f55af556;
      text-shadow: none;
  }
}
.container-welcome > span:nth-child(2){
  animation-delay: 0.25s ;
}
.container-welcome > span:nth-child(3){
  animation-delay: 0.5s;
}
.container-welcome > span:nth-child(4){
  animation-delay: 0.75s;
}
.container-welcome > span:nth-child(5){
  animation-delay: 1s;
}
.container-welcome > span:nth-child(6){
  animation-delay: 1.25s ;
}
.container-welcome > span:nth-child(7){
  animation-delay: 1.5s;
}
.container-welcome > span:nth-child(8){
  animation-delay: 1.75s;
}
.container-welcome > span:nth-child(9){
  animation-delay: 2s ;
}
.container-welcome > span:nth-child(10){
  animation-delay: 2.25s;
}
.container-welcome > span:nth-child(11){
  animation-delay: 2.5s;
}
.container-welcome > span:nth-child(12){
  animation-delay: 2.75s ;
}
.container-welcome > span:nth-child(13){
  animation-delay: 3s;
}
.container-welcome > span:nth-child(14){
  animation-delay: 3.25s;
}
.container-welcome > span:nth-child(15){
  animation-delay: 3.5s ;
}
.container-welcome > span:nth-child(16){
  animation-delay: 3.75s;
}
.container-welcome > span:nth-child(17){
  animation-delay: 4s;
}
.container-welcome > span:nth-child(18){
  animation-delay: 4.25s ;
}
.container-welcome > span:nth-child(19){
  animation-delay: 4.5s;
}
.container-welcome > span:nth-child(20){
  animation-delay: 4.75;
} 

/* H1 ORLI DUN */
.h1-intro {
  font-size: 6.9rem; /* 110px / 16px = 6.875rem */
  color: rgba(169, 103, 255, 0);
  -webkit-text-stroke: 0.0625rem rgba(235, 187, 235, 0.986); /* 1px / 16px = 0.0625rem */
  -webkit-background-clip: text;
  background-image: url(../../../public/images/GEBl.gif);
  background-position: 0 0;
  animation: back 30s linear infinite;
  position: absolute;
  top: 22%;
}

@keyframes back {
  100% {
    background-position: 125rem 0; /* 2000px / 16px = 125rem */
  }
}

/* giffy img */
.giffy {
  width: 20rem; /* 400px / 16px = 25rem */
  position: absolute;
  top: 12%;
  left: 2%;
  animation: giffyfloat2 20s linear infinite;
}

@keyframes giffyfloat2 {
  0% {
    transform: rotate(0deg) translateX(0.625rem); /* 10px / 16px = 0.625rem */
  }
  25% {
    transform: rotate(10deg) translateX(0.625rem);
  }
  50% {
    transform: rotate(0deg) translateX(0.625rem);
  }
  75% {
    transform: rotate(-10deg) translateX(0.625rem);
  }
  100% {
    transform: rotate(0deg) translateX(0.625rem);
  }
}


/* Resolución: 390x844 */
@media (max-width: 390px) and (max-height: 844px) {
  .home-section {
    /* width: auto; */
    height: 100vh;
  }

  .hi {
    top: 10%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .secondary-text {
    top: 25%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .front-span {
    top: 50%;
    font-size: 1.6rem; /* 20px / 16px = 1.25rem */
    letter-spacing: 0.8rem; /* 17px / 16px = 1.0625rem */
  }
  .dev-span {
    top: 50%;
    font-size: 1.6rem; /* 30px / 16px = 1.875rem */
  }

  .web-box {
    margin-top: 20%; /* Ajusta el margen superior según tus necesidades */
  }

  .web-text {
    top: 55%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .giffy {
    margin-top: 80%; /* Ajusta el margen superior según tus necesidades */
    width: 12rem; /* Ajusta el ancho según tus necesidades */
    height: 18rem; /* Ajusta la altura según tus necesidades */
  }
  .container-welcome {
    top: 70%;
    font-size: 0.5rem; /* 10px / 16px = 0.625rem */
  }
  .container-welcome span {
    font-size: 0.9rem; /* 15px / 16px = 0.9375rem */
  }
}

/* Resolución: 768x1024 */
@media (min-width: 768px) and (max-width: 1024px) {
  .home-section {
    margin-top: 9.375rem; /* Ajusta el margen superior según tus necesidades */
  }

  .hi {
    top: 25%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .secondary-text {
    top: 69%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .web-box {
    margin-top: 6.25rem; /* Ajusta el margen superior según tus necesidades */
  }

  .web-text {
    top: 73%; /* Ajusta la posición superior según tus necesidades */
    font-size: 4rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .giffy {
    margin-top: 16rem; /* Ajusta el margen superior según tus necesidades */
    width: 18.75rem; /* Ajusta el ancho según tus necesidades */
    height: 22rem; /* Ajusta la altura según tus necesidades */
  }
}

/* Resolución: 1440x900 */
@media (min-width: 1440px) and (max-width: 900px) {
  .home-section {
    margin-top: 12rem; /* Ajusta el margen superior según tus necesidades */
  }

  .hi {
    top: 25%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .secondary-text {
    top: 69%; /* Ajusta la posición superior según tus necesidades */
    font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .web-box {
    margin-top: 5rem; /* Ajusta el margen superior según tus necesidades */
  }

  .web-text {
    top: 73%; /* Ajusta la posición superior según tus necesidades */
    font-size: 4rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .giffy {
    margin-top: 16rem; /* Ajusta el margen superior según tus necesidades */
    width: 18.75rem; /* Ajusta el ancho según tus necesidades */
    height: 22rem; /* Ajusta la altura según tus necesidades */
  }
}

