body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {

  /* Reducir el tamaño de la fuente del texto del cuerpo */
  body {
    font-size: 12px;
  }

  /* Reducir el tamaño de la fuente del código */
  code {
    font-size: 10px;
  }
}

/* Para dispositivos de tableta */
@media (min-width: 769px) and (max-width: 1024px) {

  /* Reducir el tamaño de la fuente del texto del cuerpo */
  body {
    font-size: 14px;
  }

  /* Reducir el tamaño de la fuente del código */
  code {
    font-size: 12px;
  }
}
